body {
  background-color: #000000;
}
.jumbotron {
  background-image: url("../img/cancha.jpg");
  text-shadow: 2px 2px 3px rgb(0, 0, 0), 0 0 4em #ec1c24, 0 0 0.6em #ec1c24;
  color: white;
}

.boton-nav {
  background-color: #ec1c24;
  color: white;
}

.boton-nav:hover {
  background-color: #fdfdfd;
  color: #ec1c24
}

.menu {
  margin-left: 50px;
}

.nav-item {
  padding: 3px;
  margin: 0 10px;
}

.nav-link:hover {
  background-color: #ec1c24 !important;
  color: #ffffff !important;
}

.sesion {
  color: #ec1c24
}

.botones {
  margin-right: 15px;
}
.escudo {
  height: 50px;
  width: 60px;
}
.footer {
  background-color: #212529;
}

.contacto {
  background-color: rgba(0, 0, 0, 0.829);
 
  font-weight: bolder;
  color: white;
  
}.btn {
  background-color:  #ec1c24;
  color: white;

}
.check{
  color:green;
  padding-right: 4px;
}